.Portfolio {
	width: calc( 100% + 30px);
	clear: both;
	margin: 120px -15px 70px -15px;
	float: left;
}

.Portfolio h1 {
	padding: 0 15px;
	font-family: Gilroy, Arial;
	font-size: 48px;
	line-height: 130%;
	font-weight: bold;
	color: #212121;
	margin: 0 0 25px 0;
}


.PortfolioList {
	display: flex;
	flex-flow: row wrap;
	clear: both;
}

.Portfolio__item {
	display: block;
	width: 100%;
}

.PortfolioItem__img {
	width: 55%;
	float: left;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
	min-height: 300px;

}

.PortfolioItem__img img {
	min-height: auto;
	width: auto;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	transition: all 0.3s;
}

.PortfolioItem__imgLeft {
	z-index: 2;
}

.PortfolioItem__imgRightZindex .PortfolioItem__imgRight {
	z-index: 3;
}

.PortfolioItem__twooImg .PortfolioItem__imgLeft {
	left: 40%;
	bottom: 45%;
	transform: translate(-50%, 50%);
}

.PortfolioItem__twooImg .PortfolioItem__imgRight {
	left: 60%;
	bottom: 40%;
	transform: translate(-50%, 50%);
}

.PortfolioItem__img .PortfolioItem__imgLogo {
	position: absolute;
	top: -100%;
	transform: translate(-50%, -50%);
}

.PortfolioItem:hover .PortfolioItem__imgAnimationLEFT .PortfolioItem__imgLeft {
	left: 3%!important;
	transition: all 0.3s;
}

.PortfolioItem:hover .PortfolioItem__imgAnimationLEFT .PortfolioItem__imgRight {
	left: 95%!important;
	transition: all 0.3s;
}

.PortfolioItem:hover .PortfolioItem__imgLogo {
	top: 50%;
	transition: all 0.3s;
}


.PortfolioItem:hover .PortfolioItem__imgAnimationTOP .PortfolioItem__imgLeft {
	bottom: -50%;
	transition: all 0.3s;
}

.PortfolioItem:hover .PortfolioItem__imgAnimationTOP .PortfolioItem__imgRight {
	bottom: -50%;
	transition: all 0.3s;
}

.PortfolioItem__info {
	width: 45%;
	float: left;
	padding: 0 15px 0 30px;
	box-sizing: border-box;
	display: flex;
	flex-flow: row wrap;
}

.PortfolioItem {
	color: #151515;
	display: flex;
	flex-flow: wrap;
	text-decoration: none;
	margin-bottom: 70px;
	padding: 0 15px;
	clear: both;
	width: 100%;
	box-sizing: border-box;
}

.PortfolioItem__type {
	font-family: Circe, Arial;
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;
	font-weight: bold;
}

.PortfolioItem__name,
.PortfolioItem__name h2 {
	font-family: Gilroy, Arial;
	font-size: 28px;
	line-height: 120%;
	font-weight: bold;
	margin: 0 0 10px 0;
}

.PortfolioItem__tags {
	color: #6600cc;
	font-family: Circe, Arial;
	font-size: 14px;
	line-height: 140%;
}

.PortfolioItem__tags ul {
	list-style: none;
	padding: 15px 0;
	margin: 0;
}

.PortfolioItem__tags ul li {
	display: inline-block;
	padding-right: 15px;
}

.PortfolioItem__more {
	align-self: flex-end;
	font-family: Gilroy, Arial;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	font-weight: 600;
	padding-right: 35px;
	position: relative;
	margin-top: 15px;
}

.PortfolioItem__more .arrow {
	width: 29px;
	height: 10px;
	fill: #151515;
	stroke: #151515;
}

.PortfolioItem:hover .PortfolioItem__more {
	color: #6600cc;
	transition: .3s cubic-bezier(.29,.18,.26,.83);
}

.PortfolioItem:hover .PortfolioItem__more .arrow {
	transition: .3s cubic-bezier(.29,.18,.26,.83);
	fill: #6600cc;
	stroke: #6600cc;
	width: 44px;
	height: 10px;
}

.PortfolioItem__description {
	font-family: Circe, Arial;
	font-size: 18px;
	line-height: 150%;
}


.PortfolioItem .PortfolioItem__name,
.PortfolioItem .PortfolioItem__type{
	-webkit-transition: all 333ms cubic-bezier(.47,0,.745,.715);
	transition: all 333ms cubic-bezier(.47,0,.745,.715);
	background-image: -webkit-gradient(linear,right top,left top,from(#000),color-stop(49.99%,#000),color-stop(50%,#6600CC),to(#6600CC));
	background-image: -webkit-linear-gradient(right,#000 0%,#000 49.99%,#6600CC 50%,#6600CC 100%);
	/*background-image: linear-gradient(-90deg,#000 0%,#000 49.99%,#6600CC 50%,#6600CC 100%);*/
	background-size: 200%;
	background-repeat: no-repeat;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-position: 100%;
}

.PortfolioItem:hover .PortfolioItem__name,
.PortfolioItem:hover .PortfolioItem__type{
	background-position: 0;
	-webkit-transition: all 333ms cubic-bezier(.47,0,.745,.715);
	transition: all 333ms cubic-bezier(.47,0,.745,.715);
}

.PortfolioItem__img2,
.PortfolioItem__img1,
.PortfolioItem__img3 {
	position: absolute;
	max-width: 30%;
}

.PortfolioItem__img1 {
	left: 15%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transition: all 333ms cubic-bezier(.47,0,.745,.715);
	transition: all 333ms cubic-bezier(.47,0,.745,.715);
}

.PortfolioItem__img3 {
	left: 85%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transition: all 333ms cubic-bezier(.47,0,.745,.715);
	transition: all 333ms cubic-bezier(.47,0,.745,.715);
}

.PortfolioItem__img2 {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transition: all 333ms cubic-bezier(.47,0,.745,.715);
	transition: all 333ms cubic-bezier(.47,0,.745,.715);
}

.Portfolio__sections {
	border-bottom: 2px solid #E0E0E0;
	clear: both;
	display: block;
	width: calc( 100% - 30px );
	float: left;
	box-sizing: border-box;
	margin: 15px 15px 70px 15px;
}

.Portfolio__section {
	font-family: Circe, Arial;
	font-size: 18px;
	line-height: 150%;
	text-align: center;
	color: #151515;
	padding: 10px 0 10px 0;
	display: block;
	float: left;
	cursor: pointer;
	position: relative;
	margin-right: 70px;
}

.PortfolioItem_visible_hidden {
	height: 0;
	opacity: 0;
	margin: 0!important;
	-webkit-transition: height .3s cubic-bezier(.47,0,.745,.715);
	transition: height .3s cubic-bezier(.47,0,.745,.715);
}

 .Portfolio__section:after {
	content: "";
	position: absolute;
	width: 0;
	 bottom: -2px;
	left: 0;
	height: 2px;
	background: #6600CC;
	 right: 0;
	 -webkit-transition: width .3s cubic-bezier(.47,0,.745,.715);
	 transition: width .3s cubic-bezier(.47,0,.745,.715);
}

.Portfolio__section:hover:after {
	width: 100%;
	-webkit-transition: width .3s cubic-bezier(.29,.18,.26,.83);
	transition: width .3s cubic-bezier(.29,.18,.26,.83);
	left: 0;
}

.Portfolio__section.Portfolio__section_active_true:after {
	width: 100%;
	-webkit-transition: width .3s cubic-bezier(.29,.18,.26,.83);
	transition: width .3s cubic-bezier(.29,.18,.26,.83);
}

.Portfolio__section_active_true {
	font-weight: bold;
	color: #6600CC;
}

.inline-svg-icon.arrow-bottom {
	width: 22px;
	height: 10px;
	transform: rotate(90deg);
	fill: #151515;
	stroke: #151515;
	margin-right: 25px;
}

.PortfolioShowMore a {
	background: #F9F9F9;
	display: block;
	cursor: pointer;
	font-size: 20px;
	line-height: 150%;
	font-weight: 500;
	text-align: center;
	padding: 28px 0;
	margin: 0 15px;
}

main.white .PortfolioShowMore a {
	color: #151515!important;
}

.Pagination {
	display: none;
}

@media (max-width: 992px) {

	.PortfolioItem_code_stk .PortfolioItem__img svg:not(.background) {
		max-width: 20%;
	}

	.Portfolio__section {
		margin-right: 30px;
		font-size: 16px;
	}

	.PortfolioItem {
		float: left;
		width: 100%;
		display: block;
		box-sizing: border-box;
	}

	.Portfolio h1 {
		font-size: 32px;
	}

	.PortfolioItem__description {
		font-size: 14px;
	}

	.PortfolioItem__name,
	.PortfolioItem__name h2{
		font-size: 24px;
	}

	.PortfolioItem__more {
		font-size: 14px;
		padding-right: 30px;
	}

	.PortfolioItem__more:before {
		width: 22px;
		background-size: 100%;
	}

	.PortfolioItem_code_sout .PortfolioItem__img:before {
		display: none;
	}

	.PortfolioItem__img img {
		min-height: auto;
		width: 100%;

	}

	.PortfolioItem_code_marker .PortfolioItem__img, .PortfolioItem_code_sout .PortfolioItem__img, .PortfolioItem_code_szr .PortfolioItem__img {
		display: block;
	}

}

@media (max-width: 767px) {


	.Portfolio h1 {
		font-size: 22px;
	}

	.PortfolioItem__tags ul {
		padding: 8px 0;
	}

	.PortfolioItem__img,
	.PortfolioItem__info {
		width: 100%;
	}

	.PortfolioItem__img img {
		min-height: auto;
		width: auto;
	}

	.PortfolioItem__info {
		padding: 15px 0;
	}

	.PortfolioItem {
		margin: 30px 0;
	}

	.PortfolioItem__tags {
		font-size: 13px;
	}

	.PortfolioItem__tags ul li {
		padding-right: 10px;
	}

	.PortfolioItem__name,
	.PortfolioItem__name h2 {
		font-size: 20px;
	}

	.PortfolioItem__description {
		font-size: 14px;
	}

	.PortfolioItem__more {
		font-size: 13px;
	}

	.Portfolio {
		margin: 50px -15px 50px -15px;
	}


	.PortfolioItem .PortfolioItem__imgAnimationLEFT .PortfolioItem__imgLeft {
		left: 3%!important;
		transition: all 0.3s;
	}

	.PortfolioItem .PortfolioItem__imgAnimationLEFT .PortfolioItem__imgRight {
		left: 95%!important;
		transition: all 0.3s;
		max-width: 100%;
	}

	.PortfolioItem .PortfolioItem__imgLogo {
		top: 50%;
		z-index: 4;
		transition: all 0.3s;
		max-width: 50%;
	}


	.PortfolioItem .PortfolioItem__imgAnimationTOP .PortfolioItem__imgLeft {
		bottom: -50%;
		transition: all 0.3s;
	}

	.PortfolioItem .PortfolioItem__imgAnimationTOP .PortfolioItem__imgRight {
		bottom: -50%;
		transition: all 0.3s;
	}


	.PortfolioItem__twooImg .PortfolioItem__imgLeft {
		z-index: 2;
	}

	.PortfolioItem__imgRightZindex .PortfolioItem__imgRight {
		z-index: 4;
	}

	.PortfolioItem.PortfolioItem_code_marker .PortfolioItem__imgAnimationLEFT .PortfolioItem__imgLeft {
		left: 28%!important;
	}

	.PortfolioItem.PortfolioItem_code_szr .PortfolioItem__imgAnimationTOP .PortfolioItem__imgLeft {
		bottom: -40%;
		max-width: 100%;
	}

	.PortfolioItem.PortfolioItem_code_sout .PortfolioItem__imgAnimationLEFT .PortfolioItem__imgLeft {
		left: 6%!important;
		max-width: 77%;
		bottom: 20%;
	}

	.PortfolioItem.PortfolioItem_code_sout .PortfolioItem__imgAnimationLEFT .PortfolioItem__imgRight {
		left: 93%!important;
		max-width: 50%;
		bottom: 24%;
	}


	.PortfolioItem.PortfolioItem_code_bnv .PortfolioItem__imgAnimationLEFT .PortfolioItem__imgRight {
		left: 100%!important;
		max-width: 75%;
		bottom: 25%;
	}

	.PortfolioItem.PortfolioItem_code_bnv .PortfolioItem__imgAnimationLEFT .PortfolioItem__imgLeft {
		left: 7%!important;
		bottom: 35%;
	}


	.PortfolioItem.PortfolioItem_code_prim .PortfolioItem__imgAnimationLEFT .PortfolioItem__imgRight {
		left: 90%!important;
		max-width: 45%;
		bottom: 18%;
	}

	.PortfolioItem.PortfolioItem_code_prim .PortfolioItem__imgAnimationLEFT .PortfolioItem__imgLeft {
		left: 15%!important;
		bottom: 20%;
		max-width: 70%;
	}

	.PortfolioItem.PortfolioItem_code_stk .PortfolioItem__imgAnimationLEFT .PortfolioItem__imgLeft {
		left: 6%!important;
		max-width: 80%;
		bottom: 20%;
	}

	.PortfolioItem.PortfolioItem_code_stk .PortfolioItem__imgAnimationLEFT .PortfolioItem__imgRight {
		left: 85%!important;
		max-width: 65%;
		bottom: 20%;
	}

}

@media (max-width: 586px) {
	.PortfolioItem .PortfolioItem__imgAnimationLEFT .PortfolioItem__imgLeft {
		left: -15%!important;
		transition: all 0.3s;
	}

	.PortfolioItem .PortfolioItem__imgAnimationLEFT .PortfolioItem__imgRight {
		left: 105%!important;
		transition: all 0.3s;
	}
}